<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eProcurement System</title>

    <link href="~/Lib/ext/resources/css/ext-all.css" rel="stylesheet" />
    <link href="~/Content/desktop.css" rel="stylesheet" />
    <link href="~/Content/htmleditorplugins.css" rel="stylesheet" />
    <link href="~/Content/RowEditor.css" rel="stylesheet" />

    <script src="~/Lib/ext/adapter/ext/ext-base.js"></script>
    <script src="~/Lib/ext/ext-all-debug.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/RowEditor.js"></script>

    <script src="~/Lib/ext/FileUploadField.js"></script>

    <script src="~/Scripts/evCallbacks/lib.js"></script>
    <script src="~/Scripts/evCallbacks/usr.js"></script>

</head>
<body>
    @RenderBody()
</body>
</html>
